/* General*/

.logo{
  height:50px;
  width:90px;
  line-height: 50px;
  
}

h1{
  color:rgba(25, 143, 125, 1);
}

h2{
  color: white;
}

h3{
  color: white;
}

h5{
  color: white;
}

a{
  color:white;
}



.homepage{
  color:white;
  
}

body{
  min-width:100%;
 min-height: 100%;
  display:inline-block;
  font-family: 'Ubuntu', sans-serif;
}

html{
font-family: 'Ubuntu', sans-serif;
}

/*header nav*/

.header{
  float:left;
  position: relative;
  display:block;
  z-index: 0;
 
}
.navheader ul {
  background-color: rgba(41, 188, 158, 0.8);
  text-align: center;
  padding-top: 10px;
  margin: 0;
  display: inline-block;
  min-width:100%;
  position: absolute;
  top:0;
  height: 60px;
  left:0;
  float:inherit;
 
}
.navheader li {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  line-height: 50px;
  height: 60px;
  display: inline-block;
  padding-left: 20px;
   vertical-align: middle;
}
 
.navheader a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0;
}
 
.navheader a:hover {
 color: #005f5f;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
   transition: .3em;
}
 
.navheader a.active {
  color: #fff;
  cursor: default;
}

/* Body */

.circle {
	width: 100px;
	height: 100px;
	background: blue;
   color: rgba(123, 136, 138, 0.8);
	-moz-border-radius: 300px;
	-webkit-border-radius: 300px;
	border-radius: 300px;
  margin-left: 6em;
  margin-right: 3em;
  float:right;
}



.education{
  background-color:rgba(123, 136, 138, 0.8);
  height:auto;
  padding-left:  20px;
  padding-top:2px;
  padding-bottom: 2px;
  display: block;
  margin-top: 4em;
  vertical-align: middle;
  min-width:100%;
  left:0;
  min-height:15em;
}

.skills{
  background-color:rgba(203, 106, 108, 0.8);
  height:auto;
  padding-left:  20px;
  padding-top:2px;
  padding-bottom: 2px;
  display: block;
  vertical-align: middle;
  min-width:100%;
  min-height:20em;
  left:0;
}

.hobbies{
   background-color:rgba(123, 136, 138, 0.8);
  height:auto;
  padding-left:  20px;
  padding-top:2px;
  padding-bottom: 2px;
  display: block;
  margin-top: 4em;
  vertical-align: middle;
  min-width:100%;
  left:0;
  min-height:20em;
  margin-top: -.1em;
}

/* Footer Nav */

.navfooter ul {
  color:white;
  background-color: rgba(200, 200, 200, 0.46);
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;
  display: inline-block;
  min-width:100%;
  position: absolute;
  top:0;
  height: 40px;
  left:0;
  float:left;
 
}
.navfooter li {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  line-height: 50px;
  height: 60px;
  display: inline-block;
  padding-left: 20px;
   vertical-align: middle;
}
 
.navfooter a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0;
}
 
.navfooter a:hover {
 color:rgba(128, 18, 155, 0.83) ;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
   transition: 2em;
}
 
.navfooter a.active {
  color: #fff;
  cursor: default;
}

.footer{
  clear:both;
  position:relative;
  z-index: 200;
  top:9.2rem;
  margin-top: -3rem;
}

#copyright li{
  font-size: 1em;
}
